
body {
	background-color: darkgrey;
	margin: 0;
	padding: 0;
}
/*
.box {
	display: none;
	background-color: blue;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	height: 50vh;
	padding: 20px;
	margin: auto;
	text-align: center;
	width: 80vw;
}
*/
li a.active {
    background-color: #4CAF50;
    color: white;
}

li {
	display: inline;
	width: 105vw;
}

li:last-child {
	border-bottom: none;
}

li a {
	display: block;
	text-align: center;
	text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}


ul {
	background-color: lightgrey;
	border: 1px solid #000;
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 100vw;
}