/*
Sepia Color Palette
cream offwhite     #FCFBE3
lite offwhite      #FFFAEA
offwhite           #FFF1C9
greywhite          #D5C7B8
lite grey          #B9A892
dark grey          #978466
brownish grey      #604E2B
alt brownish grey  #5E4C28

Alt palette

pinkish white      #D7C198
brownish greys
lite               #A99063
mid                #987E4E
alt mid            #84693A
dark               #5C3F13

*/



/* main structure */
body {
	padding: 0;
	margin: 0;
	background-color: #D7C198;
}

/* nav bar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
}

li {
	text-align: center;
}

li a {
	background-color: #fff;
	border-radius: 5px;
	display: block;
	margin: 1vh 0;
	padding: 1vh 3vw;
	text-decoration: none;
	width: 6vw;
}

li a:hover {
	background-color: #A99063;
}

/* image container */

.box {
	background-color: #FCFBE3;
	box-sizing: border-box;
	margin: 1vh 0;
	margin-left: 13vw;
	padding: 1vh 2vw;
	width: 88vw;
}