/*
Sepia Color Palette

offwhite  #D5C7B8
lite grey  #B9A892
dark grey #978466
brownish grey #604E2B
alt brownish grey  #5E4C28

Alt palette

pinkish white   #D7C198
brownish greys
lite            #A99063
mid             #987E4E
alt mid         #84693A
dark            #5C3F13

*/



/* main structure */
body {
	padding: 0;
	margin: 0;
}

/* nav bar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	text-align: center;
}

li a {
	background-color: red;
	display: block;
	padding: 1vh 3vw;
	text-decoration: none;
	width: 15vw;
}

li a:hover {
	background-color: #000;
}